<div class="well">
<h1>Match Status: {{matchStatus}}</h1>
<h2>{{gameMode}}</h2>
</div>

<div class="col-sm-6 col-md-3 col-xs-offset-0"> <!-- begin left Column -->
  <h2>Team A</h2>
<div class="well">
  <h2>{{teamNameA}}  {{ScoreGenerals}}</h2>
  <table class="table">
    <thead><th>Team A</th><th>{{getTotal("killsA")}}</th><th>{{getTotal("deathsA")}}</th></thead>
    <tbody ng-repeat="player in GeneralsTR">
      <tr><td>{{player.name}}</td><td>{{player.kills}}</td><td>{{player.deaths}}</td></tr>
    </tbody>
  </table>
</div>
<div class="well">
  <h2>{{teamNameA}}  {{ScoreGenerals}}</h2>
  <table class="table">
    <thead><th>Team A</th><th>{{getTotal("killsA")}}</th><th>{{getTotal("deathsA")}}</th></thead>
    <tbody ng-repeat="player in GeneralsVS">
      <tr><td>{{player.name}}</td><td>{{player.kills}}</td><td>{{player.deaths}}</td></tr>
    </tbody>
  </table>
</div>
</div> <!-- end leftColumn -->


<div class="well col-sm-6 hidden-sm col-xs-offset-0"> <!-- begin center Scoreboard -->
  <table class = "table" >
    <tbody ng-repeat="record in getKillSpam() | orderBy:'-time'|filter:onlyRelevant">
<!--       <tr ng-show="{{lookuptable.get(record.killer).length&&lookuptable.get(record.target).length}}"> -->
       <tr> <td>{{$index}}</td> <td> {{record.time+"000"| date:'short'}}</td><td>{{lookuptable.get(record.killer)}}has killed {{lookuptable.get(record.target)}} with a <weapon nr="{{record.weapon}}"></weapon> </td></tr>
    </tbody>
   
  </table> 
</div> <!-- end center Scoreboard -->

<div class ="col-sm-6 col-md-3 col-xs-offset-0"> 
  <h2>Team B</h2>
<div class="well ">
  <h2>{{teamNameB}}  {{ScoreLions}}</h2>
  <table class="table">
    <thead><th>Team B</th><th>{{getTotal("killsB")}}</th><th>{{getTotal("deathsB")}}</th></thead>
    <tbody ng-repeat="player in getLions() | orderBy:'-kills'">
      <tr ng-show="playerMatters(player)"><td>{{player.name}}</td><td>{{player.kills}}</td><td>{{player.deaths}}</td></tr>
    </tbody>
  </table>
</div>
</div>
<div class = "row">
  <div class="col-xs-12"> 
  <h2> Debug 1: Lookup Table</h2>
  <p>{{lookuptable.get(5428010618035982689)}}</p>
  <p>{{lookuptable.get(5428147970869687073)}}</p>
  <p>{{Lions.length}}</p>
  
  </div>

  <div class="col-xs-12">
    <h2>Debug 2: Kill History</h2>
  </div>
</div>
<h2> Refactoring....</h2>
<team></team>
