
<div class="matchlist">
  <div ng-repeat="m in allMatches" class="row" ng-click="selectMatch($index)"> <!-- ng-click show match -->
    <div class="col-xs-5 text-right">
      <ul class ="nav">
        <li ng-repeat="o in m.players.team[0].outfits"><h4>{{o.name}}</h4></li>
        <li> <p ng-repeat="s0 in m.players.team[0].singles" >{{s0.name.first}}</p></li>  
      </ul>
    </div>

    <div class="col-xs-2 text-center">
      <h2 > VS </h2>
    </div>

    <div class="col-xs-5 text-left">
      <ul class="nav">
        <li ng-repeat="o in m.players.team[1].outfits"><h4>{{o.name}}</h4></li> 
        <li> <p ng-repeat="s1 in m.players.team[1].singles" >{{s1.name.first}}</p></li>
      </ul>
    </div>
  </div>
</div>

<div class=" row well matchHeader"><!--  Selected Match Information -->
  <div class="col-xs-5 text-right">
        <h2> Team A </h2>
        <ul class ="nav">
          <li ng-repeat="o in selectedMatch.players.team[0].outfits"><h3>{{o.name}}</h3></li>
          <li class="text-right"> <p ng-repeat="s in selectedMatch.players.team[0].singles" >{{s.name.first}}</p></li>  
        </ul>
  </div>

  <div class="col-xs-2"><h2 class="text-center"> VS </h2>
  </div>

  <div class="col-xs-5 text-left">
    <h2> Team B </h2>
    <ul class="nav">
      <li ng-repeat="o in selectedMatch.players.team[1].outfits"><h3>{{o.name}}</h3></li> 
      <li> <p ng-repeat="s in selectedMatch.players.team[1].singles" >{{s.name.first}}</p></li>
    </ul>
  </div>
</div> <!-- End Selected Match Information -->









<div><div class="col-sm-6 col-md-3 col-xs-offset-0 text-right "> <!-- begin left Column -->
  <h2>Team A</h2>
<!--   <p>All characters:</p>
  <p ng-repeat="mA in getCharacters('a')">{{mA.name.first}}</p> -->

  <table class="table">
    <thead>
      <tr>
        <th>Deaths</th>
        <th>Kills</th>
        <th></th>
      </tr>
    </thead>
    <tr ng-animate="'animate'" ng-repeat="mA in getCharacters('a')| orderBy : '-kills'">
      <td>{{mA.deaths}}</td>
      <td>{{mA.kills}}</td>
      <td>{{mA.name.first}}</td>
    </tr>
  </table>
  <!-- <team ng-repeat="o in allMatches[2].players.team[0].outfits" side="A" outfit="{{o.alias}}"></team> -->
</div> <!-- end leftColumn -->



<div class="well col-md-5 hidden-sm col-xs-offset-0"> <!-- begin center Scoreboard -->
  <table class = "table" >
    <tbody ng-repeat="record in getKillSpam() | orderBy:'-time'|filter:onlyRelevant">
<!--       <tr ng-show="{{lookuptable.get(record.killer).length&&lookuptable.get(record.target).length}}"> -->
       <tr> <!-- <td>{{$index}}</td> --> 
        <!-- <td> {{record.time+"000"|date: "d MMM yyyy@ H'h'mm ss "}}</td> -->
        <td>
          <p>{{record.time+"000"|date: "d MMM yyyy@ H'h'mm ss "}}</p>
          <p>{{lookuptable.get(record.killer)}} has killed {{lookuptable.get(record.target)}} with a <weapon nr="{{record.weapon}}"></weapon> </p>

        </td></tr>
    </tbody>
  </table> 
</div> <!-- end center Scoreboard -->


<div class ="col-sm-6 col-md-4 col-xs-offset-0"> <!-- begin right column -->
  <h2>Team B</h2>
 <!-- <team ng-repeat="o in allMatches[2].players.team[1].outfits" side="A" outfit="{{o.alias}}"></team> -->
 <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Kills</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tr ng-animate="'animate'" ng-repeat="mB in getCharacters('b') |orderBy : '-kills'">
      <td>{{mB.name.first}}</td>
      <td>{{mB.kills}}</td>
      <td>{{mB.deaths}}</td>
    </tr>
  </table>

</div> <!-- end right column -->

<!-- <div class = "row">
  <div class="col-xs-12"> 
  <h2> Debug 1: Lookup Table</h2>
  <p>{{lookuptable.get(5428010618035982689)}}</p>
  <p>{{lookuptable.get(5428147970869687073)}}</p>
  <p>{{Lions.length}}</p>
  
  </div>

  <div class="col-xs-12">
    <h2>Debug 2: Kill History</h2>
  </div>
</div> -->

<!-- <h2> Refactoring....</h2>
<team side="A" outfit="CBL"></team>
<team side="A" outfit="ABL"></team> -->

<!-- <p> {{allMatches}}</p> -->
<!-- <team side="B" outfit="BL"></team> -->
